
* {
    padding: 0;
    margin: 0;
}

.image--itemcard {
    float: left;
    width: 500px;
    height: 700px;
    margin: 50px;
    border-right: 3px solid #ddd;
}
.card{
    align-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.netflix_view{
    width:100%;
}

.component--item_card{
    background-color: #c6bd9b;
    text-align: left;
    width: 80%;
    margin-top:30px;
    margin-bottom: 20px;
    margin-right:0;
}

.poster{
    width:300px;
    height: 500px;
    margin-bottom: 20px;
}

.text--brand{
    width: 100%;
}

.tr1{
    margin-right: 20px;
}

.Netflix{
    text-align: center;
}

.NetflixLogo{
    width: 300px;
    background-color: black;
}

.NDetailLink{
    text-align: right;
}