.input_search {
    width: 600px;
    margin: 0;
    height: 51px;
    background: none;
    border-bottom: 1px solid #d63461;
    border-radius: 0;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 5px;
    position: relative;
    text-align: center;
}

.input_div {
  text-align: center;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #fce8ae;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #fce8ae;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: #fce8ae;
  border-image: initial;
  border: 0;
  outline: 0;
}
