@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;60&display=swap");

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #373b69;
  padding: 1rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

/* 영화 설명글 */
.movie-over {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  color:#22254b;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);  
}